#topContainer {
    min-height: 100%;
    width: 100%;
    color: #fff;

}

#mainContainer {
    overflow: hidden;
}

#mainContent {
    padding: 0 20px;
}




body {
    background-color: #181818;
    font-size: 14px;
    /* min-width: 720px; */
}


.gridViewContainer {
    display: grid;
    width: fit-content;
    margin: 0 auto;
    grid-template-columns: repeat(9, 8rem);
    grid-column-gap: 23px;
}




.gridViewItem {
    display: inline-block;

    width: 8rem;

    color: #fff;
    text-decoration: none;
}

.gridViewItem img {
    width: 8rem;
    height: 8rem;
    object-fit: cover;
}



.gridViewInfo {
    font-weight: 300;
    text-align: center;
    padding: 2px 0 8px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

}

#mainViewContainer {
    padding-bottom: 106px;
    width: 80%;
    margin: 0 auto;



}

@media (max-width: 820px) {

    #mainViewContainer {
        width: 98%
    }


    

}

@media (max-width: 1900px) {




    .gridViewContainer {

        grid-template-columns: repeat(7, 8rem);

    }

}
@media (max-width: 1400px) {




    .gridViewContainer {

        grid-template-columns: repeat(5, 8rem);

    }

}
@media (max-width: 770px) {




    .gridViewContainer {

        grid-template-columns: repeat(4, 8rem);

    }

}
@media (max-width: 480px) {




    .gridViewContainer {

        grid-template-columns: repeat(2, 8rem);

    }

}