



.entityInfo {
    padding: 40px 0 10px 0;
    display: inline-block;
    width: 100%;
}

.artistInfo {
    text-align: center;
}

.artistInfo .button {
    color: #fff;
    cursor: pointer;
    margin: 20px 0 10px 0;
    background-color: transparent;
    font-weight: 1000;
    letter-spacing: 2px;
    border: 2px solid #fff;
    border-radius: 500px;
    padding: 15px;
    min-width: 130px;

}

.tracklist {
    padding: 0;
}

.tracklistRow {
    height: 62px;
    padding: 15px 10px;
    list-style: none;
}

.tracklistRow span {
    color: #939393;
    font-weight: 200;
}

.tracklistRow:hover {
    background-color: #282828;
}

.tracklistRow .trackCount {
    width: 8%;
    float: left;
}

.tracklistRow .trackCount .playIcon {
    visibility: hidden;
    position: absolute;
    cursor: pointer;
 
}

.tracklistRow .trackCount .playingIcon {
    width: 8%;
    float: left;
 
}

.tracklistRow:hover .trackCount .playIcon {
    visibility: visible;  
}

.tracklistRow .trackCount span {
    visibility: visible;  
}

.tracklistRow:hover .trackCount span {
    visibility: hidden;  
}

.tracklistRow .trackInfo {
    width: 75%;
    float: left;
}

.tracklistRow .trackInfo span {
    display: block;
}

/* .tracklistRow .trackOptions {
    width: 5%;
    float: left;
    text-align: right;
}

.tracklistRow .trackOptions .optionsIcon {
    width: 15%;
    visibility: hidden !important;

} */








.tracklistRow .trackDetails {
    width: 12%;
    float: left;
    text-align: right;
    padding-left: 5%;
}
.tracklistRow .trackDetails span {
    display: block;
}

.tracklistRow .trackDetails .trackPrice {
    color: #ec148c;
    margin-bottom: 7px;
}

.tracklistRow .trackInfo .trackName {
    color: #fff;
    margin-bottom: 7px;
}


.button.pink {
    
    background-color: #ec148c;
    border-color: #ec148c;

}

.borderBottom {
    border-bottom: 1px solid #939393;
    margin-bottom: 20px;
    padding-bottom: 20px;

}

#albumHeader {
    text-align: center;
    padding-bottom: 20px;
}

.trackListContainer h2 {
    text-align: center;
    padding: 5px 0;
}




